.square_shake{
    width: 100%;
    height: 937px;
    background: url("../images/skin/yaoyiyao.png");
    margin-top: 6px;
    position: relative;
}

.shake_preview{
    position: absolute;
    left: 107px;
    top: 94px;
    width: 425px;
    height: 486px;
    background: url("../images/skin/yaoyiyao-pic.png");
    background-size: 100% 100%;
    -webkit-mask-image:url("../images/skin/bg_white_laiyifa.png")
}

.shake_preview_kuang{
    width: 425px;
    height: 486px;
    background: url("../images/skin/yaoyiyao-kuang.png") no-repeat;
    background-size: 100% 100%;
}

.shake_buttons{
    position: absolute;
    top: 580px;
    width: 100%;
}

.shake_buttons_left{
    float: left;
    background: url("../images/skin/yaoyiyao-bg.png");
    width: 206px;
    height: 238px;
    line-height: 238px;
    margin-left: 15px;
    font-size: 3.2em;
}

.shake_buttons_right{
    float: right;
    background: url("../images/skin/yaoyiyao-bg.png");
    width: 206px;
    height: 238px;
    line-height: 238px;
    margin-right: 15px;
    font-size: 3.2em;
}
	/* mistery squareCss
    color: #fee22c !important;
     */
.square_nav_selected{
    border-bottom: 8px solid #ffee00;
    color: #444444 !important;
}
/*    mistery squareCss */
#fma_a_square > section nav > ul > li{
    float: left;
    list-style: none;
    color: #888888;
    width : 50%;
    height: 100%;
    letter-spacing:8px;
    font-weight: bold;
}

.square_topic{
    width: 100%;
    clear: both;
}

.banner_swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.banner_swipe-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.banner_swipe-wrap > div {
    float:left;
    width:100%;
    height: 100%;
    position: relative;
}

/* change squareCss mistery */
.banner{
    color: #ffffff;
    width: 100%;
    height: 334px;
    text-align: center;
    border-top: 1px solid #3a3f43;
    border-bottom: 1px solid #3a3f43;
    position: relative;
}

.reading_banner{
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}


    /* change mistery squareCss
	    position: absolute;
	    top: 105px;
     */
#fma_a_square .bannerdot{
    position: relative;
    top: 92%;
    color: #ffffff;
    width: 100%;
    text-align: center;
    height: 8px;
}

#banner_wrapper{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

#reading_wrapper{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.bannerdot ul{
    width: 22%;
    margin: 0 auto;
    height: 100%;
    background: rgba(255,255,255,0.3);
}

/* change squareCss mistery */
.bannerdot ul li{
    list-style: none;
    float: left;height: 6px;
    margin-top:1px;
}

.dotli_selected{
    height: 3px;
    border:0;
    background: rgba(255,255,255,1);
}

#square_waterfall li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#square_waterfall li img{
    max-width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    /*height: 100%;*/
}
.container-fluid {
    text-align: center;
}
	/*
    mistery squareCss
  */
.warterbox {
    width: 33%;
    margin: 0;
    border:0;
    padding: 0px 8.5px;
}
.warterbox img {
	width : 100%;
	max-height : 100%;
	
  /* add mistery squareCss */
  border-radius:6px;
  border:1px solid #8b8b8b;
}
	/*
    mistery squareCss
  */
#infinite_scroll ,#infinite_scroll_topic{
    position: relative;
    top: 24px;
    margin: auto;
    width: 97.34375%;
}

#reading_div{
    width: 100%;
    height: 100%;
}

#fma_a_square{
    width: 100%;
    height:100%;
    z-index:2;
    position: absolute;
    bottom: 0;
    top: 0;
    overflow: hidden;
    text-align: center;
    background: #fff;
}
#maskId{
}

.square_topbox{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    z-index: 10000;
}

#fma_a_square > header,#fma_a_square > header > a{
    color:#3dfff5;
}

#fma_a_square > section{
    width:100%;
    color:#ffffff;
    text-align: center;

}

/* background: #2f353b; mistery squareCss */
#fma_a_square > section nav{
    position: relative;
    left: 0;
    right: 0;
    height: 68px;
    line-height: 68px;
    width: 100%;
    font-size: 3em;
    text-align: center;
    background: #fff;
}

/* change squareCss mistery */
.whitediv{
    position: relative;
    left: 0;
    top: 0;
    height:100px;
    content: "  ";
}

#fma_a_square > section nav > ul{
    width: 100%;
    margin: 0 auto;
    /* border-bottom: 1px solid #171a1d; mistery squareCss */
    height: 100%;
    border-bottom: 1px aolid #fff;
}



#fma_a_square > header .sq_l{
    position: absolute;
    left: 38px;
    top: 60px;
    text-align: center;
}

#fma_a_square > header .sq_l a{
    display: block;
    width: 45px;
    height: 28px;
    background: url("../images/skin/cehua.png");
}

#fma_a_square > header > a{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 5px;
}

.tobackbtn{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100px;
    cursor: pointer;
    background-color: rgba(44, 49, 50, .5);
}


.tomakebn{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 110px;
    cursor: pointer;
    bottom: 35px;
    text-align: center;
    /*background: url("../images/skin/zhizuo.png") no-repeat center;*/
    background-size: auto 100%;
    /*margin-left: -50%;*/
}
/* change 2014-9-26 12.28 mistery end */

/* add 2014-9-26 12.30 mistery */
.tomakebn > div{
    display:inline;
}
/* add 2014-9-26 12.30 mistery end */

/* add 2014-9-26 16.47 mistery */
#infinite_scroll , #infinite_scroll_topic{
    -webkit-perspective:4000;
}
#infinite_scroll p, #infinite_scroll img{
    transition:all 1s;
    -webkit-transform-style:preserve-3d;
    -webkit-backface-visibility:hidden;
}
#infinite_scroll img{
    -webkit-transform:rotateY(0deg);
}
#infinite_scroll p{
    -webkit-transform:rotateY(-180deg);

    /* ��תʱ ����� CSS */
    position : absolute;
    left : 0px; /*img.offset().left*/
    top : 0px; /*img.offset().top,*/
    font-size : 2.25em;
    /* ��תʱ ����� CSS end */
}
#infinite_scroll p > b{
    display : -webkit-inline-box;
    width : 2em;
    line-height: 1.3em;
    padding:24px 16px;
}


/* add 2014-9-26 16.47 mistery end */

#fma_ui_reading > section{
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
}

#reading_section > div{
    width: 100%;
    height: 100%;
}

/* add mistery square LoadImages water */
.over_y_auto{
    overflow-y : scroll !important;
}
.over_auto{
    overflow:scroll !important;
}

.pullUp {
    height : 50px;
    line-height:50px;
    font-size:20px;
    width : 100%;
	color : #000;
}

#topic_square img{
		width: 100%;
		max-height: 100%;
}
#topic_square .square_w_100,#topic_square .square_w_100_2{
		clear: both;
		width: 100%;
		margin-bottom:14px;
}
#topic_square .square_w_100_2{
		-webkit-column-count:2;
}
#topic_square .square_w_100_2_ img:last-child{
		margin-top:3%;
}
