<!-- create by hbj 14/10/17 -->
<header class="setting_header">
	<div class="set_one_logo h_108"><a href="#fma/slider" style="display: block;width: 100%;height: 100%"></a></div>
	意见反馈
</header>
<section style="height:200px;">
	<aside class="message"></aside>
	<aside class="bottom"></aside>
	<textarea id="feedback_text" maxlength="240" required="true" onblur="javascript:this.placeholder='望留下您的邮箱，方便与您联系！'" onfocus="javascript:this.placeholder=''" placeholder="请输入您的意见或建议！我们会努力做得更好！(240字)"></textarea>
	<aside class="top"></aside>
</section>
<section style="height:75px; margin-top:160px;">

	<aside class="email"></aside>
	<aside class="bottom"></aside>
	<textarea id="email_text" type="email" maxlength="100" onblur="javascript:this.placeholder='望留下您的邮箱，方便与您联系！'" onfocus="javascript:this.placeholder=''" required="true" placeholder="望留下您的邮箱，方便与您联系！"></textarea>
	<aside class="top"></aside>
</section>
<div id="share"></div>