<div id="makeheader" class="top_box make_topbox hidemakeheader">
    <div class="back_icon make_back"><a id="back_to_reading" style="display: block;width: 100%;height: 100%" href="#fma/reading/"></a></div>
    <div class="page_title mh_m" id="drawline"></div>
    <div class="make_save_share" id="bn_make_saveorshare"><div></div></div>
</div>
<section id="makesection" style="top:0px;">
   <!-- <div id="canvas_div" style="top:0px;display:block;width:100%;height:100%">-->
<canvas id="makecanvas"></canvas>
<!--</div>-->
</section>
<footer id="makefooter" class="hidemakefooter">
<div><a ftype="1" class=""></a></div>
<div><a ftype="2" class=""></a></div>
<div><a ftype="3" class=""></a></div>
<div><a ftype="4" class=""></a></div>
<div><a ftype="5" class=""></a></div>
</footer>
<!-- <div id="defaulton">
    <div class="iconshang"></div>
</div> -->
<!--界面UI小控件-->
<div id="makepic" class="hidemakepic">
    <div id="pic_wrapper" class="wrapper">
        <div id="pic_scroller" class="scroller">
            <ul>
            </ul>
        </div>
    </div>
    <div id="pic_type_wrapper" class="wrapper back_menu">
        <div id="pic_type_scroller" class="scroller">
            <ul>
            </ul>
        </div>
        <nav>
            <nav></nav>
        </nav>
    </div>
</div>
<div id="makepic_on" style="display: none"><div on="false" class="iconxia"></div></div>
<div id="cmpClose" style="display: none">
    <div on="false" class="iconxia"></div>
</div>
<!-- <div id="mask_on" style="display: none"><div on="false" class="iconxia"></div></div> -->
<!-- <div id="picframe_on" style="display: none"><div on="false" class="iconxia"></div></div> -->
<!-- <div id="watermark_on" style="display: none"><div on="false" class="iconxia"></div></div> -->
<!-- <div id="watermarkedit_on" style="display: none"><div on="false" class="iconxia"></div></div> -->
<!-- <div id="footeron" style="display: none"><div on="false" class="iconxia"></div></div> -->
<div id="pic_list_div">
    <header>
        <span></span>
        <nav id="pic_list_close"></nav>
    </header>
    <section></section>
</div>