<div class="top_box square_topbox">
    <div id="top_to_slider" class="set_one_logo"><a style="display: block;width: 100%;height: 100%" href="#fma/slider"></a></div>
    <div class="page_title"><!-- ME --></div>
</div>
<section>
    <div id="fall_wrapper" class="fall_wrapper over_y_auto">
        <div id="fall_scroller" class="fall_scroller">
            <div class="pullDown" style="display: none">
                <span class="pullDownIcon">&nbsp;</span>
                <span class="pullDownLabel">下拉刷新...</span>
            </div>

            <!--空白div-->
            <div class="whitediv"></div>
            <!--nav-->
            <nav>
                <ul id="square_nav">
                    <li class="square_nav_selected" tab="1">热门</li>
                    <li tab="2">主题</li>
                    <!-- <li tab="3">来一发</li> -->
                </ul>
            </nav>
            <!--广场-->
            <div class="square_content" id="hot_square">
                <div class="banner">
                    <div id="banner_wrapper" class="banner_swipe">
                        <div id="banner_scroller" class="banner_swipe-wrap">
                            <div><b>0</b></div>
                            <div><b>1</b></div>
                            <div><b>2</b></div>
                            <div><b>3</b></div>

                        </div>
                    </div>

                    <div class="bannerdot" id="bannerdot">
                        <ul id="banner_ul">
                        </ul>
                    </div>
                </div>
                <!--nav-->

                <!--fall_content-->
                <div class="container-fluid" id="infinite_scroll">

                </div>

                <!-- add mistery squareLoadImages -->
                <div id="pullUp" class="pullUp" style="position:absolute">
                    <span><img src="images/skin/loading.gif"></span>
                </div>
            </div>
            <!--广场-->

            <div class="square_topic" id="topic_square" style="display: none">
            		<!--  topic HTML add mistery -->
            		<div class="banner">
                    <div class="banner_swipe-wrap">
                        <div>
                        		<img alt="小清新" src="images1/banner.png">
                        </div>
                    </div>
                </div>
                
                <div class="container-fluid" id="infinite_scroll_topic">
										<div class="square_w_100">
												<img alt="小清新" src="images1/1.png">
										</div>
										<div class="square_w_100_2">
												<div><img alt="爱故事" src="images1/2.png"></div>
												<div class="square_w_100_2_">
														<img alt="经典电影" src="images1/3.png">
														<img alt="你不懂" src="images1/4.png">
												</div>
										</div>
										<div class="square_w_100_2">
												<div><img alt="暴走漫画" src="images1/5.png"></div>
												<div><img alt="字中字" src="images1/6.png"></div>
										</div>
										<div class="square_w_100_2">
												<div><img alt="文革大字报" src="images1/7.png"></div>
												<div><img alt="快播" src="images1/8.png"></div>
										</div>
                </div>

            		<!--  topic HTML add mistery -->
            </div>

            <!-----------摇一摇------------->
            <div class="square_shake" id="shake_square" style="display: none">
                <div class="shake_preview"><div class="shake_preview_kuang"></div></div>
                <div class="shake_buttons">
                    <div class="shake_buttons_left">重来</div>
                    <div class="shake_buttons_right">使用</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- change 2014-9-26 ~ 12.27 mistery -->
<div class="tomakebn">
    <div id="tomakebn">
        <img style="max-height: 100%; max-width: 100%;" src="images/skin3/zhizuo.png" />
    </div>
</div>
<!-- change 2014-9-26 ~ 12.27 mistery end -->
