<!--水印选择界面-->
<script type="text/javascript" src="js/views/make/res_list.js"></script>
<script type="text/javascript" src="js/views/make/signature_list.js"></script>
<div id="watermark_opacity" class="wrapper">
	<input id="watermark_alpha" class="inptop" type="range" min="0" max="1" step="0.01">
    <div id="watermarkMask" class="input_mask"></div>
</div>
<div id="watermark_color" class="wrapper">
    <div id="color_scroller" class="scroller">
        <ul>
        </ul>
    </div>
</div>
<div id="watermark_wrapper" class="wrapper">
    <div id="watermark_scroller" class="scroller">
        <ul>
            <li></li>
        </ul>
    </div>
</div>
<div id="watermark_type_wrapper" class="wrapper back_menu">
    <div id="watermark_type_scroller" class="scroller">
        <ul>
        </ul>
    </div>
    <nav>
        <nav></nav>
    </nav>
</div>