<header class="appheader">
    <div class="h_left"><a>返回</a></div>
    <a>类型</a>
</header>
<section>
    <div id="type_fall_wrapper" class="fall_wrapper">
        <div id="type_fall_scroller" class="fall_scroller">
            <div class="pullDown" style="display: none">
                <span class="pullDownIcon">&nbsp;</span>
                <span class="pullDownLabel">下拉刷新...</span>
            </div>

            <!--fall_content-->
            <div class="container-fluid" id="type_infinite_scroll">
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/535ef357023d42.jpg" /></a>
                </div>
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/5313d52701fcc2.jpg" /></a>
                </div>
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/53410045022ab134.jpg" /></a>
                </div>
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/img-1b31b1359525e9b19c2d51e04728a5b4.jpg" /></a>
                </div>
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/img-5ad37dafb184e9c2239793dd6e8664c9.jpg" /></a>
                </div>
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/img-8dc4ade7f8c6c5bd5149dab887a19053.jpg" /></a>
                </div>
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/img-9ded73faa6bfdd2562055f2c7e0f56f3.jpg" /></a>
                </div>
                <div class="typewarterbox">
                    <a href="#fma/make"><img alt="infinite_scroll" src="images/test/img-93aa648762cdfe61d2f6a041786c8402.jpg" /></a>
                </div>
            </div>
            <!--content end-->
            <div class="pullUp"></div>
        </div>
    </div>
</section>