<div class="make_mask_inputdiv_div"> <!-- changeCss mistery add css -->
    <div class="make_mask_inputdiv">
    <input id="maskalpha" type="range" min="0" max="1" step="0.01" value="1">
    <div id="maskalphaMask" class="input_mask"></div>
</div>
    <div class="clear"></div>
</div>
<div id="mask_wrapper" class="wrapper_make">
    <div id="mask_scroller" class="scroller">
        <ul>
        </ul>
    </div>
</div>
<div class="back_menu wrapper_make">
    <nav>
            <nav></nav>
        </nav>
</div>