<div class="top_box square_topbox">
    <div class="set_one_logo"><a style="display: block;width: 100%;height: 100%" href="#fma/slider"></a></div>
    <div class="page_title bg_none">帮助</div>
</div>
<div id="help_container">
	<div id="help_scroll">
		
		<div class="help_c">
			<img src="images/skin3/help/bg-1.png" />
		</div>
		
		<div class="help_c">
			<img src="images/skin3/help/bg-2.png" />
		</div>
		
		<div class="help_c">
			<img src="images/skin3/help/bg-3.png" />
		</div>
		
		<div class="help_c">
			<img src="images/skin3/help/bg-4.png" />
		</div>
		
	</div>
</div>
