
<div class="tobackbtn" id="back_to_square">
<div class="back_icon make_back"><a id="back_to_reading" style="display: block;width: 100%;height: 100%" class="ui-link"></a></div>
<div class="make_save_share" id="bn_make_saveorshare"><div></div></div>
</div>

<section id="reading_section">

    <div class="reading_banner">
        <div id="reading_wrapper" class="banner_swipe">
            <div id="reading_scroller" class="banner_swipe-wrap">

            </div>
        </div>
    </div>

</section>
<!-- change 2014-9-28 ~ 18.46 mistery -->
<div class="tomakebn">
    <div id="tpl_use">
        <img style="max-height: 100%; max-width: 100%;" src="images/skin3/zhizuo.png" />
    </div>
</div>
<!-- change 2014-9-28 ~ 18.46 mistery end -->

<!--
<footer>
    <div class="floatright"><a id="tpl_use" style="display: block;width: 200px">使用</a></div>
</footer>
-->