<!--顶部-->
<div class="save_top_box"  id="save_top_box">
    <div class="set_break_logo save_break_logo"><a id="bt_save_back" style="display: block;width: 100%;height: 100%" href="#fma/square"></a></div>
    <div class="save_home_logo"><a style="display: block;width: 100%;height: 100%" href="#fma/square"></a></div>

    <div style="clear:both;"></div>
</div>
<div class="save_page_long"  id="save_page_long">
    <span id="save_info"><img alt="." src="images/skin3/make/save/success.png">已保存到相册</span>

    <span>───&nbsp;&nbsp;分享&nbsp;&nbsp;───</span>
    <div class="save_share_bu">
        <table>
            <tr>
                <td><b><img data-save-type="4" src="images/skin3/make/save/fenxiang_kongjian.png" /></b></td>
                <td><b><img data-save-type="5"  src="images/skin3/make/save/fenxiang_xinlang.png" /></b></td>
                <td><b><img data-save-type="2"  src="images/skin3/make/save/fenxiang_pengyouquan.png" /></b></td>
            </tr>
            <tr>
                <td><b><img data-save-type="1"  src="images/skin3/make/save/fenxiang_pengyou.png" /></b></td>
                <td><b><img data-save-type="3"  src="images/skin3/make/save/fenxiang_qq.png" /></b></td>
                <td><b><img data-save-type="6"  src="images/skin3/make/save/fenxiang_douban.png" /></b></td>
            </tr>
        </table>
    </div>
</div>
<!--
        <button>
        </button>
-->		
<div class="switch_div">
	<span id="switch_txt">禁止编辑推荐</span>
	<div class="my_switch">
		<input type="checkbox" id="my_control" class="my_control">
		<label for="my_control" class="my_checkbox"></label>
	</div>
</div>
<div id="share_div">
    <div class="share_div_box"  id="share_div_box">
        <div class="share_div_logo"><a style="display: block;width: 100%;height: 100%" href="#fma/square"></a></div>

        <div style="clear:both;"></div>
    </div>

    <iframe target="_self" sandbox="allow-scripts allow-forms allow-same-origin" seamless></iframe>
</div>